#work {

	.view {
		overflow: hidden;
		transition: all .5s;

		& img {
			transition: all .5s;			
		}
	}

	.view:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);	

		& img {
			transform: scale(1.5);
		}
	} 


	.work-link {
		color: #263238;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 2px;
			background: #263238;
			transition: .3s;  
			transform: scaleX(0);
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}	
}